
control/air/cmake-build-debug/

control/air/\.idea/

control/ground/\.idea/

control/ground/cmake-build-debug/

status/\.idea/

status/cmake-build-debug/



\.idea/

cmake-build-debug/
cmake-build-release/

status/common_lib/CMakeFiles/

x86bin/

db_esp32/build/

CMakeFiles/

status/Makefile

status/db_common/Makefile

telemetry/Makefile

telemetry/db_common/Makefile

proxy/Makefile

proxy/db_common/Makefile

common/Makefile

control/Makefile

control/db_common/Makefile

CMakeCache\.txt

Makefile

db_esp32/db_esp32\.cbp

db_esp32/sdkconfig\.old

communication/venv/

*.cbp

control/control_ground

*.a

startup/__pycache__/

telemetry/telemetry_air

status/status

proxy/proxy

video/legacy/rx

video/legacy/sharedmem_init_tx

video/legacy/tx_measure

video/legacy/tx_rawsock

video/legacy/wifibackgroundscan

video/legacy/wifiscan

video/legacy/check_alive

communication/__pycache__/

control/control_air

control/sumd_test

video/video_gnd

video/video_air

*.o

plugins/example_read_rc/readrc

plugins/rc_to_gpio_mapper/rc_gpio_map

TCPTest/

communication/DroneBridgeLib/DroneBridge/__pycache__/

InjectionTest/db_common/

InjectionTest/it

InjectionTest/receive

InjectionTest/send

InjectionTest/cmake_install.cmake

.vscode/

build/

*.cmake
