
control/air/cmake-build-debug/

control/air/\.idea/

control/ground/\.idea/

control/ground/cmake-build-debug/

status/\.idea/

status/cmake-build-debug/



\.idea/

cmake-build-debug/

status/common_lib/CMakeFiles/

*.cmake

x86bin/

db_esp32/build/

CMakeFiles/

status/Makefile

status/db_common/Makefile

telemetry/Makefile

telemetry/db_common/Makefile

proxy/Makefile

proxy/db_common/Makefile

common/Makefile

control/Makefile

control/db_common/Makefile

CMakeCache\.txt

Makefile

db_esp32/db_esp32\.cbp

db_esp32/sdkconfig\.old

communication/venv/

*.cbp

control/control_ground

*.a
